[submodule "oi.native"]
	path = oi.native
	url = https://github.com/OpenIMPRESS/oi.native.git
[submodule "clients/oi.client.steamvr"]
	path = clients/oi.client.steamvr
	url = https://github.com/OpenIMPRESS/oi.client.steamvr.git
[submodule "clients/oi.client.hololens"]
	path = clients/oi.client.hololens
	url = https://github.com/OpenIMPRESS/oi.client.hololens.git
